@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: rgb(170, 179, 192);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
;
}

header{
    width: 100%;
    position: relative;
}

.icon-blue{
    color: #3050CE;
}

.btn{
    width: 120px;
    height: 50px;
    padding: 10px;
    color:#3050CE;
    text-align: center;
}

.btn:hover{
    color: #fff;
    background: #3050CE;
    border-radius: 5px;
    box-shadow: 2px 3px 15px -2px rgba(0,0,0,0.43);
}

.logo{
    font-weight: 900;
    color: #3050CE;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 10px 50px;
}

nav ul{
    display: flex;
}

nav ul li a{
    padding: 15px;
    text-align: center;
    font-weight: 500;
    margin: 5px;
    color: #6D7B93;
}

nav ul li a:hover{
    color: #fff;
    background: #3050CE;
    border-radius: 5px;
    box-shadow: 2px 3px 15px -2px rgba(0,0,0,0.43);
}

.menu{
    align-content: flex-end;
}
.titulos{
    color: #3050CE;
    font-size: 40px;

}

.subtit{
    color: #3050CE;
    font-size: 20px;
    transform: translateX(150px) ;
}
.primer{
    transform: translateX(150px) ;

}
.segundop{
    transform: translateX(150px) ;
}
.datos{
    transform: translateX(150px) ;
}
.ultimo{
    transform: translateX(150px) ;
}
.rectangulo {
    display: flex;
    flex-wrap: wrap;
    transform: translateX(150px);

    gap: 10px 35px;
}
.minisub{
    color: #3050CE;
    font-size: 20px;
    
}
.info{
    font-size: 14px;
    text-align: justify;
}
.par3{
    display: block;
    transform: translateX(700px);

}
.caja2{
    
    color: #3050CE;
    font-size: 12px;
    border-style: solid;
    border: 1px #6D7B93;
}
#parrafoch{
    color: #6D7B93 ;
    font-size: 10px;
}
.btns:hover:hover{
    color: #fff;
    background: #3050CE;
    border-radius: 10px;
    box-shadow: 2px 3px 15px -2px rgba(0,0,0,0.43);
    object-position: bottom;
    
}

.btns{
    width: 150px;
    height: 50px;
    padding: 10px;
    color:#3050CE;
    text-align: center;
    

}

.small{
    width: 190px;
    height: 190px;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 30px;
    text-align: center;
}

.small i{
    font-size: 35px;
    padding-left: 20px;
    padding-top: 20px;
}

.small h3{
    font-size: 25px;
    color: #1F3E72;
    margin: 2px;
    cursor: default;
}

.small p{
    margin: 2px;
    font-size: 16px;
    font-weight: lighter;
    cursor: default;
}

.small:hover{
    transform: scale(1.1);
    box-shadow: 2px -1px 17px 2px rgba(0,0,0,0.46);
    transition: 1s;
}
.contacto{
    display: flex;
    flex-wrap: wrap;
}
