@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #AAB3C0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    width: 100%;
    position: relative;
    /*position: fixed;*/
}

.title{
    font-size: 45px;
    color: #1F3E72;
}

.subtitle{
    font-size: 30px;
    color: #1F3E72;
    font-weight: bold;
}

.container{
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.imgContent{
    width: 500px;
    height: auto;
    display: flex;
    background: linear-gradient(#0B95E5,#2379DF,#3267DB);
    padding-right: 0;
    z-index: -1;
}

.imgContent img{
    width: 100%;
    height: 100%;
    margin: auto;
}

.icon-yellow{
    color: #FFD012;
}

.icon-blue{
    color: #3050CE;
}

.info{
    font-size: 15px;
    color: #1F3E72;
    position: absolute;
    top: 550px;
    margin: 10px;
}

.btn{
    width: 120px;
    height: 50px;
    padding: 10px;
    color:#3050CE;
    text-align: center;
}

.btn:hover{
    color: #fff;
    background: #3050CE;
    border-radius: 5px;
    box-shadow: 2px 3px 15px -2px rgba(0,0,0,0.43);
}

/*HEADER*/
.logo{
    font-weight: 900;
    color: #3050CE;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 10px 50px;
}

nav ul{
    display: flex;
}

nav ul li a{
    padding: 15px;
    text-align: center;
    font-weight: 500;
    margin: 5px;
    color: #6D7B93;
}

nav ul li a:hover{
    color: #fff;
    background: #3050CE;
    border-radius: 5px;
    box-shadow: 2px 3px 15px -2px rgba(0,0,0,0.43);
}

/*AGENDA*/
.content{
    width: 50%;
    margin-left: 60px;
    margin-right: 30px;
}

.content h1{
    position: absolute;
    top: 220px;
    width: 320px;
}

.content p{
    margin-bottom: 200px;
    width: 350px;
    text-align: justify;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 500px;
    left: 200px;
    font-size: 13px;
}

.legend i{
    margin: 10px;
}

.info i{
    margin-right: 10px;
}

form{
    position: absolute;
    top: 600px;
    left: 200px;
    background: #fff;
    width: 65%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.43);
}

.form-group{
    display: inline-block;
    margin: 25px;
    padding: auto;
}

.form-group input{
    width: 200px;
    height: 40px;
    color: #3050CE;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    font-weight: 900;
}

.form-group input[type="date"]::-webkit-calendar-picker-indicator{
    display: none;
}

.form-group select{
    width: 200px;
    height: 40px;
    color: #3050CE;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    font-weight: 900;
}

.form-group select option{
    font-weight: bold;
}

.form-group i{
    margin-right: 10px;
}

button{
    position: absolute;
    top: 40px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

/*LOGOS*/
.logos{
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    justify-content: center;
    align-items: center;
}

.logos img{
    width: 160px;
    height: auto;
    opacity: 0.3;
    margin: 30px 40px 30px 40px;
}

/*BENEFICIOS*/
.contentB{
    position: absolute;
    width: 100%;
    margin-top: -200px;
    margin-bottom: 150px;
    margin-left: 70px;
}

.contentB h1{
    width: 400px;
    
}

.contentB p{
    width: 400px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.beneficios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.card{
    width: 250px;
    height: 320px;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 30px;
}

.card i{
    font-size: 35px;
    padding-left: 20px;
    padding-top: 20px;
}

.card h2{
    font-size: 25px;
    color: #1F3E72;
    margin: 20px;
    cursor: default;
}

.card p{
    margin: 20px;
    font-size: 16px;
    font-weight: lighter;
    cursor: default;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 2px -1px 17px 2px rgba(0,0,0,0.46);
    transition: 1s;
}

/*PREPARACION*/
.preparacion{
    margin-top: 30px;
}

.space{
    margin-top: -95px;
}

.recomendaciones{
    width: 50%;
    display: inline-block;
    margin-left: 50px;
}

.card-horizontal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 50px;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-bottom: 30px;
}

.card-horizontal i{
    margin-left: 10px;
    margin-right: 10px;
}

.card-horizontal h3{
    font-size: small;
    color: #1F3E72;
    font-weight: lighter;
    padding-left: -10px;
}

/*CONTACT*/
.spaceT{
    margin-top: 30px;
}

.emergency{
    margin-top: 20px;
}

.spaceC{
    margin-top: -150px;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-small{
    width: 200px;
    height: 170px;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card-small i{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 25px;
    color: #3050CE;
}

.card-small h3{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 25px;
    color: #3050CE;
    font-weight: normal;
}

.card-small p{
    padding-top: 10px;
    padding-left: 50px;
    font-size: 13px;
}

.card-small a{
    position: absolute;
    margin-top: 60px;
    margin-left: 30px;
    text-align: center;
}

.card-small:hover{
    transform: scale(1.1);
    box-shadow: 2px -1px 17px 2px rgba(0,0,0,0.46);
    transition: 1s;
}

/*FOOTER*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
    background: rgba(170,179,192,0.5);
}

footer .texto{
    display: inline-block;
    width: 200px;
    padding-left: 30px;
}

footer .texto p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: normal;
}

footer .links{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 700px;
}

footer .column{
    margin-left: 50px;
    margin-right: 50px;
}

footer .column h2{
    color: #1F3E72;
}

footer .column ul{
    padding-top: 10px;
}

footer .column ul li{
    margin: 10px;
    font-weight: normal;
}

footer .column ul li a{
    color: #6D7B93;
    list-style: none;
}

footer .derechos{
    position: absolute;
    padding-left: 30px;
    padding-top: 250px;
}

footer .politicas{
    position: relative;
    left: 1000px;
    top: -10px;
    margin-bottom: 15px;
}

footer .politicas p{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

/*DATA*/

.data{
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
}

.data img{
    display: block;
    width: 95%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.data h1{
    margin-bottom: 10px;
}

.data p{
    margin-bottom: 20px;
}