
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 100%;
}

.card {
    position: relative;
    background-color: white;
    width: 326px;
    border-radius: 16px;
    border-radius: 4px;
    color: #000

}

.poke-stats div {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}
.card-body-img {
    border: 5px solid white;
    border-radius: 50%;
    margin-top: calc(-48px - 5px);
    background-color: white;
}
 
.card-body-text {
    color: var(--dark-gray);
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
  
  